body {
    background-color: darkslategray;
    margin: 20px auto 0;
    max-width: 60%;
    font-size: 16px;
}

h1 {
    color: slategray;
    text-align: center;
    margin: 0;
    background-color: lightcyan;
    padding: 10px;
}

nav {
    background-color: slategray;
    padding: 15px;
}
nav a {
    padding: 8px;
    margin-right: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: beige;
}

.hero img{
    width: 100%;
}

main {
    text-align: center;
    padding: 10px;

    background-color: azure;
}

h2 {
    font-size: 1.2rem;
    text-decoration: underline;
}

input {
    padding: .5rem;
}
select {
    padding: .5rem;
    margin-right: 10px;
}

footer {
    color: azure;
    padding: 10px;
    background-color: slategray;
    text-align: center;
}